section.l-section.l-hero
    .l-hero__bg
        img(src='assets/img/bg/main_bg.png').hero__bg-img
    .l-hero__container
        img(src='assets/img/bg/portfolio_header.png').c-hero__title-pic
        .c-user
            .c-user__pic-container
                img(src='assets/img/content/mini-avatar.jpg').c-user__pic
            .c-user__name Владимир Астахов
            .c-user__occ Личный сайт разработчика
    ul.c-socials
        include socials
    .c-menu-button
        a.c-menu-button__link
            svg.c-menu-button__icon
                use(xlink:href='assets/img/icons/sprite.svg#hamburger')

