.l-works-title {
  height: 186px;
  @extend %clearfix;
  position: relative;
  background: #f8f9f5;
}

.c-works__triangle {
  display: block;
  width: 100%;
  height: 110px;
  position: absolute;
  bottom: 100%;
}

.l-section-works-title {
  height: 160px;
  float: none;
  width: auto;
  top: 0;
  padding-top: 66px;
  @include centered(x);
  background-image: url('../img/bg/works_header.svg');

  &::after {
    bottom: 10px;
  }
}


.l-talks {
    height: 1352px;
    position: relative;
    background-color: $milk;
    //background: url('../img/bg/works_bg.png') no-repeat center bottom;
   // -webkit-background-size: cover;
    //background-size: cover;
}

.l-talks__bg-pic {
  height: 100%;
}

.l-talks__high {
    @include centered(x);
    top: 0;
    height: 20%;
}

.l-talks-title {
    height: 170px;
    top: 60px;
    float: none;
    width: 31.25rem;
    padding-top: 42px;
    @include centered (x);
    background-image: url('../img/bg/about_header.svg');
}

.l-talks__center {
    @include centered(x);
    top: 20%;
    height: 25%;
}

.l-review__list {
    @include centered(x);
    @extend %clearfix;
    width: 800px;
}

.l-review__item {
    float: left;
    width: 400px;
    height: 270px;
    left: 25%;
    box-sizing: border-box;
}

.l-review__avatar {
    width: 77px;
    height: 77px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 40%;
    margin-bottom: 25px;
}

.l-review__pic {
    width: 77px;

}

.l-review__text {
  line-height: 26px;
  @include roboto-i;
  font-size: 16px;
  color: #5d5a55;
  margin-bottom: 25px;
}

.l-review__name {
  text-align: right;
  padding-right: 90px;
  color: $dark-green;
  margin-bottom: 5px;
}

.l-review__occ {
  text-align: right;
  padding-right: 90px;
  @include roboto-i;
  color: $gray;
}

.l-talks__low {
    @include centered(x);
    top: 45%;
    height: 55%;
}

.l-form-blur-wrapper {
  width: 380px;
  height: 461px;
  @include centered();
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  @extend %clearfix;
  overflow: hidden;
  top: 45%;
  transform: translateX(-50%);
}

.l-form-blur__bg {
  //padding-top: 38px;
  height: 100%;
  //-webkit-box-sizing: border-box;
  //-moz-box-sizing: border-box;
  //box-sizing: border-box;
  background: url('../img/bg/works_bg.png') center no-repeat;
  filter: blur(20px);
  -webkit-filter: blur(20px);
  z-index: 1;
}

.l-contact-form {
  padding-top: 38px;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9999;
  //background: url('../img/bg/works_bg.png') center no-repeat;
  //filter: blur(20px);
  //-webkit-filter: blur(20px);
  @include centered(x);
  top: 0;
  transform: translateX(-50%);
}


#contact-form {

  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: 10;

  input, textarea {
    padding: 10px 16px 10px 16px;
    width: 340px;
    @include roboto-l;
    font-size: 12px;
    color: #aba9a7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
    resize: none;
  }

  button {
    height: 45px;
    float: left;
    width: 50%;
    background: #689956;
    border: none;
    border-right: 1px solid #adc5ab;
    @include roboto;
    color: #FFFFFF;
    font-size: 16px;

    &:last-child {
      border-right: none;
      border-left: 1px solid #adc5ab;
    }
    
    &:hover {
      background: #7fa870;
    }
  }
}

.contact-form__name {
  height: 45px;
  border: none;
  border-radius: 55px;

}

.contact-form__email {
  height: 45px;
  border: none;
  border-radius: 55px;

}

.contact-form__message {
  height: 140px;
  border: none;
  border-radius: 20px;

}

.buttons-block {
  width: 100%;
  height: 45px;
  position: absolute;
  bottom: 0;
}
