html {
  @include tablets {
    font-size: 14px;
  }
}

body {
  margin: 0;
  font-family: 'robotoregular';
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

.wrapper
{
  overflow: hidden;
  min-height: 100vh;
  min-width: 1800px;
}

